<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/GearImgur" version="1.0.0" viewmodes="maximized">
    <tizen:application id="2OOEJ15aRQ.GearImgur" package="2OOEJ15aRQ" required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>GearImgur</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:profile name="wearable"/>
    <access origin="*" subdomains="true"></access>
</widget>
